body {
  font-size: 16px;
  color: black;
  background-color: ghostwhite;
  font-family: 'Roboto', sans-serif;
}

.container{
  background-color: #e4e4e4;
  position: absolute;
  width: 500px;
  height: 500px;
  left: 447.09px;
  top: 50px;
  box-sizing: border-box;
  border: solid black;
}

.sign{
  font-size: 40px;
  padding-left: 190px;
}

.container label{
  padding-left: 15px;
  font-size: 20px;
}

#username{
  width: 159px;
}

#username:hover{
  box-sizing: border-box;
  box-shadow: 2px 2px #fd7b26;
}

#username:focus{
  width: 310px;
  transition: width 0.4s ease-in-out;
}

#password{
  width: 220px;
}

#password:hover{
  box-sizing: border-box;
  box-shadow: 2px 2px #fd7b26;
}

#submit{
  background-color: white;
  width: 230px;
  height: 27px;
  position: absolute;
  left: 110px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
}

#submit:hover{
  cursor: pointer;
  box-shadow: 2px 4px #fd7b26;
}

#togglePassword:hover{
  color: #fd7b26;
  cursor: pointer;
}

.fgtpwd{
  position: absolute;
  top: 226.5px;
  left: 85px;
  color: black;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  border-right: solid;
  padding-right: 17px;
  margin-top: 8px;
}

.acc{
  position: absolute;
  top: 226.5px;
  left: 253px;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  border: none;
  margin-top: 8px;
}

.acc:hover{
  color: #fd7b26;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  top: 55px;
  margin: 50px;
  margin-bottom: none;
  padding-right: 30px;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}

.fb {
  background-color: #3B5998;
  opacity: 0.85;
  color: white;
  text-decoration: none;
  height: 50px;
  width: 250px;
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 300px;
  left: 110px;
  border-radius: 25px;
  padding-top: 20px;
}

.fb:hover{
  opacity: 1;
}

.google {
  background-color: #dd4b39;
  opacity: 0.85;
  color: white;
  text-decoration: none;
  height: 50px;
  width: 250px;
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 385px;
  left: 110px;
  border-radius: 25px;
  padding-top: 20px;
}

.google:hover{
  opacity: 1;
}

